<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Master Page</title>


    </head>


    <body>

        <!--
         | ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         | All Styles Files are added
         | ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        -->
        {{> styles }}

        {{> navbar }}

        <div class="body">
            {{{ body }}}
        </div>


        <footer>{{> footer }}</footer>

    </body>




    <!--
     | ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Add Script File
     | ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    -->
        {{> scripts }}



</html>
