<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Customer</title>
    </head>
    <body>

        <div class="">
            <ul>

                <% result.forEach(function(item){ %>

                    <li> <%= item.name %> </li>

                <% }) %>
            </ul>
        </div>

    </body>
</html>
